<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script>
      var app = angular.module("myApp", []);

      app.controller("myCtrl", function ($scope) {
        $scope.name = "jonathan vasu";
      });
    </script>
    <style>
        input.ng-invalid {
            background-color: red;
        }
    </style>
  </head>

  <body>
    <div ng-controller="myCtrl">Name:<input ng-model="name" /></div>
    <div ng-controller="myCtrl">
      enter name: <input ng-model="name" />
      <h1>you entered : {{name}}</h1>
    </div>
    <!--validating user input-->
    <form name="myForm">
      Email:
      <input type="email" name="myAddress" ng-model="text" />
      <span ng-show="myForm.myAddress.$error.email">not a valid e-mail id</span>
    </form>
    <br />
    <form ng-app="" name="myForm" ng-init="myText = 'post@myweb.com'">
      Email:
      <input type="email" name="myAddress" ng-model="myText" required />
      <h1>Status</h1>
      {{myForm.myAddress.$valid}} {{myForm.myAddress.$dirty}}
      {{myForm.myAddress.$touched}}
    </form>
   
    <body>
    
        <form ng-app="" name="myForm">
            Enter your name:
            <input name="myName" ng-model="myText" required>
        </form>
  </body>
</html>
